{% extends "layout.html" %}

{% block title %}백 오피스{% endblock %}

{% block head %}
<style>
    form {
        display: flex;
        flex-direction: column;
    }
    form .custom-form-item {
        display: flex;
        flex-direction: column;
        padding: 0 24px;
        margin-bottom: 16px;
    }
    form .custom-form-item > label,
    form .custom-form-item > div,
    form .custom-form-item > input {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        padding: 0;
        color: #777777;
    } 
    form .custom-form-item > input {
        border: 1px solid #cccccc;
    }
    form .custom-form-item .invalid-feedback {
        display: none;
        width: 100%;
        font-size: .875em;
        color: var(--bs-form-invalid-color);
    }
    form .custom-form-item .is-invalid~.invalid-feedback {
        display: block;
    }
    .custom-form-item .form-control {
        padding: 10px 16px;
    }
    .custom-signup > a {
        display: block;
        margin-bottom: 20px;
    }
</style>
{% endblock %}

{% block content %}
<div>
    <h1 class="content-title">임직원 로그인</h1>
</div>
<div>
    <form class="needs-validation" id="signin" novalidate>
        <div class="custom-form-item">
            <label for="identify" class="form-label">아이디</label>
            <input type="text" class="form-control" id="identify" required>
            <div class="invalid-feedback">
                아이디를 입력해주세요.
            </div>
        </div>
        <div class="custom-form-item">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" class="form-control" id="password" required>
            <div class="invalid-feedback">
                비밀번호를 입력해주세요.
            </div>
        </div>
        <button type="submit" class="btn btn-dark-custom">로그인</button>
    </form>
    <div class="custom-signup">
        <a href="{{url_for('signup')}}" class="btn btn-dark-custom">회원가입</a>
    </div>
</div>
<!-- The Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="warn-info">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i type="button" class="bi bi-x-lg modal-icon" data-bs-dismiss="modal" aria-label="Close"></i>
                <h4 class="modal-title">회원정보 입력</h4>
            </div>
            <div class="modal-body">
                <p>회원정보가 입력되지 않았습니다. 회원정보 입력 페이지로 가시겠습니까?</p>
            </div>
            <div class="modal-footer modalBtnContainer-addEvent">
                <a href="{{url_for('signup')}}" class="btn btn-orange-custom">지금 기입하기</a>
                <a href="{{url_for('gocalendar')}}" class="btn btn-dark-custom">나중에</a>
            </div>
           
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}

{% block script %}

{% endblock %}