{% extends "layout-backoffice-admin.html" %}

{% block title %}Calendar{% endblock %}

{% block content %}
<div class="container">

    <input class='filter' type="checkbox" id ='edit-name' value="{{ name }}" checked style="display:none">
    <div class="col-xs-6"  style="float: right;" id ='group_list'></div>
    <!-- 일자 클릭시 메뉴오픈 -->
    <div id="contextMenu" class="dropdown clearfix">
        <ul class="dropdown-menu dropNewEvent" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
            <div class="dropdown-menu-title">
                <i type="button" class="bi bi-x-lg" data-bs-dismiss="modal" aria-label="Close"></i>
                <div>일정 생성</div>
            </div>
            <li><a  href="#">작업 일지 작성</a></li>
            <li><a tabindex="-1" href="#">작업 NULL</a></li>
        </ul>
    </div>
    
    <div id="wrapper" style="margin-top: 100px;">
        <div id="loading"></div>
        <div id="calendar"></div>
    </div>


    <!-- 일정 추가 MODAL -->
    <div class="modal fade" tabindex="-1" role="dialog" id="eventModal">
        <div class="modal-dialog modal-fullscreen" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <i type="button" class="bi bi-x-lg modal-icon" data-bs-dismiss="modal" aria-label="Close"></i>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-xs-12">
                            <label class="col-xs-4" for="edit-allDay">하루종일</label>
                            <input class='allDayNewEvent' id="edit-allDay" type="checkbox"></label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <label class="col-xs-4" for="edit-title">일정명</label>
                            <input class="inputModal" type="text" name="edit-title" id="edit-title"
                                required="required" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="col-xs-4" for="edit-start">시작</label>
                            <input class="inputModal" type="text" name="edit-start" id="edit-start" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="col-xs-4" for="edit-end">끝</label>
                            <input class="inputModal" type="text" name="edit-end" id="edit-end" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="col-xs-4" for="edit-type">작업장명</label>
                            <select class="inputModal" type="text" name="edit-type" id="edit-type" onchange="checkPlace()" disabled>
                                <option value="당진">당진</option>
                                <option value="송도">송도</option>
                                <option value="마곡">마곡</option>
                                <option value="시흥">시흥</option>
                                <option value="other">직접 입력</option>
                            </select>
                            
                            <!-- “직접 입력”을 위해 숨겨둘 텍스트 입력 필드 -->
                            <input type="text" id="edit-type-other" name="edit-type-other" placeholder="직접 입력" style="display: none;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="col-xs-4" for="edit-color">색상</label>
                            <select class="inputModal" name="color" id="edit-color">
                                <option value="#D25565" style="color:#D25565;">빨간색</option>
                                <option value="#9775fa" style="color:#9775fa;">보라색</option>
                                <option value="#ffa94d" style="color:#ffa94d;">주황색</option>
                                <option value="#74c0fc" style="color:#74c0fc;">파란색</option>
                                <option value="#f06595" style="color:#f06595;">핑크색</option>
                                <option value="#63e6be" style="color:#63e6be;">연두색</option>
                                <option value="#a9e34b" style="color:#a9e34b;">초록색</option>
                                <option value="#4d638c" style="color:#4d638c;">남색</option>
                                <option value="#495057" style="color:#495057;">검정색</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="col-xs-4" for="edit-desc">설명</label>
                            <textarea rows="12" cols="50" class="inputModal" name="edit-desc"
                                id="edit-desc" disabled></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer modalBtnContainer-addEvent">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-dark" id="save-event">저장</button>
                </div>
                <div class="modal-footer modalBtnContainer-modifyEvent">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-danger" id="deleteEvent">삭제</button>
                    <button type="button" class="btn btn-dark" id="updateEvent">저장</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    

    

</div>
<!-- /.container -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/moment.min.js"></script>
<script src="static/js/fullcalendar.min.js"></script>
<script src="static/js/ko.js"></script>
<script src="static/js/select2.min.js"></script>
<script src="static/js/bootstrap-datetimepicker.min.js"></script>

<script src="static/js/calendar.js"></script>
<script src="static/js/addEvent.js"></script>
<script src="static/js/editEvent.js"></script>
<script src="static/js/etcSetting.js"></script>

<script>
    document.getElementById('nav_calendar').classList.add('active');
    

function checkPlace() {
  const selectEl = document.getElementById("edit-type");
  const otherEl = document.getElementById("edit-type-other");
  
  // 만약 "직접 입력(other)"을 선택했으면 텍스트 입력 보이기
  if (selectEl.value === "other") {
    otherEl.style.display = "inline-block";
    otherEl.focus();
  } else {
    // 그 외에는 숨기기
    otherEl.style.display = "none";
    // 필요 시, 다른 값을 비우거나 할 수도 있음
    otherEl.value = "";
  }
}




    document.addEventListener("DOMContentLoaded", function () {
    // fc-center 클래스를 가진 요소를 찾음
    const fcCenter = document.querySelector(".fc-center");

    if (fcCenter) {
        // 버튼 생성
        const button = document.createElement("button");
        button.textContent = "추가 버튼"; // 버튼 텍스트
        button.className = "search-button btn-primary"; // 버튼에 클래스 추가
        button.id = 'show-search'
        button.style.justifyContent = "flex-end"

        button.innerHTML = '<i class="fas fa-search"></i>';
        // 클릭 이벤트 추가
        button.addEventListener("click", function () {
            const searchbox = document.getElementById("searchbox");
            if (searchbox) {
                // display 스타일 토글
                if (searchbox.style.display === "none" || searchbox.style.display === "") {
                    searchbox.style.display = "flex";
                } else {
                    searchbox.style.display = "none";
                }
            }
        });


        // fc-center 요소에 버튼 추가
        fcCenter.appendChild(button);

        
        const newDiv = document.createElement("div");
        newDiv.id = 'searchbox'
        
        // newDiv.className = "d-flex"; // 클래스 추가
        
        newDiv.innerHTML = '<input type="text" id="text_filter" placeholder="검색할 단어 입력" style="width:50%"><button class="search-button btn-primary" id= "filter_btn"><i class="fa-search"><b>검색</b></i></button>'; // 내용 추가
        newDiv.style.display = "none";
        newDiv.style.justifyContent = "flex-end";
        // fc-center 뒤에 새로운 div 추가
        fcCenter.insertAdjacentElement("afterend", newDiv);

        //필터
        $('#filter_btn').on('click', function () {
            $('#calendar').fullCalendar('rerenderEvents');
        });

        //datetimepicker
        $("#edit-start, #edit-end").datetimepicker({
            format: 'YYYY-MM-DD HH:mm'
        });



    } else {
        console.error(".fc-center 요소를 찾을 수 없습니다.");
    }

   

    // 페이지 로드 시 AJAX로 calendar_group.json 가져오기
    $.ajax({
        url: '/static/data/calendar_group.json',  // 실제 경로나 파일 위치에 맞춰 수정
        type: 'GET',
        dataType: 'json',
        success: function(data) {
          // data가 { "개발팀": [...], "기획팀": [...], ... } 형태라고 가정
          // 객체의 key들을 순회하며 버튼 생성
          let idid = "{{id}}"; //string에서 이렇게 씀
          console.log(data)
          Object.keys(data).forEach(function(groupName, index) {
            // 버튼 id를 동적으로 생성하거나, groupName 그대로 써도 됨
            if(data[groupName]['members'].indexOf(idid)!==-1){
                let buttonId = 'group-' +data[groupName]['groupName'];
            console.log(groupName)
            // jQuery로 버튼 동적 생성
            $('<button>')
              .attr('id', buttonId)
              .addClass('btn btn-dark btn-sm')
              .text(data[groupName]['groupName'])                // 버튼 텍스트 = 그룹명
              .appendTo('#group_list');       // #group_list 안에 붙이기
            }
            
          });
        },
        error: function(xhr, status, error) {
          console.error("calendar_group.json 불러오기 실패:", error);
        }
      });

});


</script>
{% endblock %}

