{% extends "layout-backoffice-admin.html" %}

{% block title %}작업 생산성{% endblock %}

{% block head %}
<link rel="stylesheet" href="./static/css/tables.css">  
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
{% endblock %}

{% block content %}
<div id="bodyContent" style="margin-bottom:100px;">
  <div id="bgtables">
    <h1 class="content-title">작업 생산성</h1>
  </div>

  <!-- <img src="./static/img/premier/footlogo.png" alt="" style="width:100px;margin-left: 100px;margin-top:10px;margin-bottom:10px"> -->
  <div class="table-wrapper">
    <table id="scores">
      <thead>
        <tr>
          <th></th>
          <th>Rank</th>  
          <th>현장</th>
          <th>총괄이름</th>
          <th>Total</th>
          <th>G</th>
          <th>C</th>
          <th>A</th>
          <th>L</th>
          
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  document.getElementById('nav_productivity').classList.add('active');

  async function teams() {
    var res = await fetch("./static/data/ranktable.json");
    var data = await res.json();

    console.log(data);

    let records  = data;
    console.log('records',records);

    var displayScore = document.getElementById("scores").getElementsByTagName("tbody")[0];
    for (let i = 0; i < records.length; i++) {
      console.log(records[i]);
      console.log(i);

      const tr = document.createElement("tr");
      tr.setAttribute("id", "scoreDetails");
      tr.innerHTML = `
        <td style='font-size:14px;'>&#8744;</td>
        <td id="lbl1"> 
          ${[i + 1]}&nbsp;&nbsp;•
        </td> 
        <td id="lbl2">  
          <span>${records[i].현장}</span>
        </td>
        <td id="lbl3">${records[i]['총괄 이름']}</td>
        <td id="lbl4">${records[i].Total}</td>
        <td id="lbl5">${records[i].A}</td>
        <td id="lbl6">${records[i].C}</td>
        <td id="lbl7">${records[i].G}</td>
        <td id="lbl8">${records[i].L}</td>

      `;

      displayScore.appendChild(tr);
    }
  }
  teams();    
</script>
{% endblock %}