{% extends "layout.html" %}

{% block title %}회원가입{% endblock %}

{% block head %}
<style>
    form {
        display: flex;
        flex-direction: column;
    }
    form .custom-form-item {
        display: flex;
        flex-direction: column;
        padding: 0 24px;
        margin-bottom: 16px;
    }
    form .custom-form-item > label,
    form .custom-form-item > div,
    form .custom-form-item > input,
    form .custom-form-item > select {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        padding: 0;
        color: #777777;
    } 
    form .custom-form-item > input,
    form .custom-form-item > select {
        border: 1px solid #cccccc;
    }
    form .custom-form-item .invalid-feedback {
        display: none;
        width: 100%;
        font-size: .875em;
        color: var(--bs-form-invalid-color);
    }
    form .custom-form-item .is-invalid~.invalid-feedback {
        display: block;
    }
    #custom-radio-nationality > input {
        width: 20px;
        height: 20px;
    }
    #custom-radio-nationality > label {
        margin: 0;
        margin-right: 16px;
        padding: 0 8px;
        color: #222222;
    }
    .custom-form-item .form-control {
        padding: 10px 16px;
    }
</style>
{% endblock %}

{% block content %}
<div>
    <h1 class="content-title">회원가입</h1>
</div>
<div>
    <form class="needs-validation" id="register" novalidate>
        <div class="custom-form-item">
            <div id="custom-radio-nationality">
                <input type="radio" name="radioNationality" id="radioNationality1" checked>
                <label for="radioNationality1">내국인</label>
                <input type="radio" name="radioNationality" id="radioNationality2">
                <label for="radioNationality2">외국인</label>
                <input type="radio" name="radioNationality" id="radioNationality3">
                <label for="radioNationality3">총괄</label>
            </div>
        </div>
        <div class="custom-form-item">
            <label for="identify" class="form-label">아이디</label>
            <input type="text" class="form-control" id="identify" required>
        </div>
        <div class="custom-form-item">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" class="form-control" id="password" required>
        </div>
        <div class="custom-form-item">
            <label for="passwordCheck" class="form-label">비밀번호 확인</label>
            <input type="password" class="form-control" id="passwordCheck" required>
            <div class="invalid-feedback">
                비밀번호를 확인해 주세요.
            </div>
        </div>
        <div class="custom-form-item">
            <label for="name" class="form-label">이름</label>
            <input type="text" class="form-control" id="name" required>
            <div class="invalid-feedback">
                내국인의 경우 한글만 입력해주세요.
            </div>
        </div>
        <div class="custom-form-item">
            <label for="contact" class="form-label">전화번호</label>
            <input type="text" class="form-control" id="contact" required>
        </div>
        <div class="custom-form-item">
            <label for="nationality" class="form-label">국적</label>
            <select id="nationality" class="form-control" required>
            {% for contry in countries %}
                <option value="{{ contry }}">{{ contry }}</option>
            {% endfor %}
            </select>
            <!-- <input type="text" class="form-control" id="nationality" required> -->
        </div>
        <div class="custom-form-item">
            <label for="credential" class="form-label">주민등록번호 / 여권번호</label>
            <input type="text" class="form-control" id="credential" required>
        </div>
        <div class="custom-form-item">
            <label for="visa" class="form-label">비자</label>
            <input type="text" class="form-control" id="visa" required>
        </div>
        <div class="custom-form-item">
            <label for="address" class="form-label">주소</label>
            <input type="text" class="form-control" id="address" required>
        </div>
        <div class="custom-form-item">
            <label for="certificate" class="form-label">거푸집자격증 (선택)</label>
            <select type="text" class="form-control" id="certificate">
                <option value="">--선택--</option>
                <option value="Y">네</option>
                <option value="N">아니오</option>
            </select>
        </div>
        <div class="custom-form-item">
            <label for="highBlood" class="form-label">고혈압 증상 여부 (선택)</label>
            <select type="text" class="form-control" id="highBlood">
                <option value="">--선택--</option>
                <option value="Y">네</option>
                <option value="N">아니오</option>
            </select>
            
        </div>
        <button type="submit" class="btn btn-dark-custom">회원가입</button>
    </form>
</div>
{% endblock %}

{% block script %}
<script>


const identifyValidation = () => {
    // 아이디 검증
    // 빈칸 확인
    const identify = document.querySelector('#identify');    
    if (!identify.value) {
        identify.classList.add('is-invalid');
        return false
    }

    // 외국인이라면 통과
    const radioKorean = document.querySelector('#radioNationality1');
    if (!radioKorean.checked) {
        return true
    }

    // 내국인이라면 한글 체크
    if (/^[ㄱ-ㅎㅏ-ㅣ가-힣]+$/.test(identify.value)) {
        return true
    }
    identify.classList.add('is-invalid');
    return false
}

const passwordValidation = () => {
    // 비밀번호 검증
    // 빈칸 확인
    const password = document.querySelector('#password');
    if (!password.value) {
        password.classList.add('is-invalid');
        return false
    }
    return true
}

const passwordCheckValidation = () => {
    // 비밀번호 확인 검증
    // 빈칸 확인
    const password = document.querySelector('#password');
    const passwordCheck = document.querySelector('#passwordCheck');
    if (!passwordCheck.value) {
        passwordCheck.classList.add('is-invalid');
        return false
    }
    
    if (password.value === passwordCheck.value) {
        return true
    }else{
        alert("비밀번호가 다릅니다.")
    }
    passwordCheck.classList.add('is-invalid');
    return false
}

const nameValidation = () => {
    // 이름 검증
    // 빈칸 확인
    const name = document.querySelector('#name');
    if (!name.value) {
        name.classList.add('is-invalid');
        return false
    }
    return true
}

const contactValidation = () => {
    // 전화번호 검증
    // 빈칸 확인
    const contact = document.querySelector('#contact');
    if (!contact.value) {
        contact.classList.add('is-invalid');
        return false
    }
    return true
}

const credentialValidation = () => {
    // 전화번호 검증
    // 빈칸 확인
    const credential = document.querySelector('#credential');
    if (!credential.value) {
        credential.classList.add('is-invalid');
        return false
    }
    return true
}

const visaValidation = () => {
    // 전화번호 검증
    // 빈칸 확인
    const visa = document.querySelector('#visa');
    if (!visa.value) {
        visa.classList.add('is-invalid');
        return false
    }
    return true
}

const addressValidation = () => {
    // 전화번호 검증
    // 빈칸 확인
    const address = document.querySelector('#address');
    if (!address.value) {
        address.classList.add('is-invalid');
        return false
    }
    return true
}

(() => {
    'use strict';
    // 내국인/외국인 radio
    const nationality = document.querySelector('#nationality');
    const radioKorean = document.querySelector('#radioNationality1');
    radioKorean.addEventListener('change', () => {
        nationality.disabled = true;
        nationality.value = 'Korea, Republic of';
    });
    const radioForeinger = document.querySelector('#radioNationality2');
    radioForeinger.addEventListener('change', (e) => {
        nationality.disabled = false;
    });

    // 국적
    nationality.disabled = true;
    nationality.value = 'Korea, Republic of';

    // focus시 is-invalid 삭제
    const allInput = document.querySelectorAll('.needs-validation input');
    allInput.forEach((each) => {
        each.addEventListener('focus', () => {
            each.classList.remove('is-invalid');    
        })
    })

    // Form 검증
    const customValidity = () => {
        let result = true;
        if (!identifyValidation()) {
            result = false;
        }
        if (!passwordValidation()) {
            result = false;
        }
        if (!passwordCheckValidation()) {
            result = false;
        }
        if (!nameValidation()) {
            result = false;
        }
        if (!contactValidation()) {
            result = false;
        }
        if (!visaValidation()) {
            result = false;
        }
        if (!credentialValidation()) {
            result = false;
        }
        if (!addressValidation()) {
            result = false;
        }
        return result
    }

    const form = document.querySelector('.needs-validation');
    form.addEventListener('submit', event => {
        if (!customValidity()) {
            event.preventDefault();
            event.stopPropagation();
        }
        
    }, false);
})()
</script>
{% endblock %}
