{% extends "layout-backoffice-employee.html" %}

{% block title %}개인정보{% endblock %}

{% block head %}
<style>
    form {
        display: flex;
        flex-direction: column;
    }
    form .custom-form-item {
        display: flex;
        flex-direction: column;
        padding: 0 24px;
        margin-bottom: 16px;
    }
    form .custom-form-item > label,
    form .custom-form-item > div,
    form .custom-form-item > input,
    form .custom-form-item > select {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        padding: 0;
        color: #777777;
    } 
    form .custom-form-item > input,
    form .custom-form-item > select {
        border: 1px solid #cccccc;
    }
    form .custom-form-item .invalid-feedback {
        display: none;
        width: 100%;
        font-size: .875em;
        color: var(--bs-form-invalid-color);
    }
    form .custom-form-item .is-invalid~.invalid-feedback {
        display: block;
    }
    #custom-radio-nationality > input {
        width: 20px;
        height: 20px;
    }
    #custom-radio-nationality > label {
        margin: 0;
        margin-right: 16px;
        padding: 0 8px;
        color: #222222;
    }
    .custom-form-item .form-control {
        padding: 10px 16px;
    }
</style>
{% endblock %}

{% block content %}
<div>
    <h1 class="content-title">개인정보</h1>
</div>
<div>
    <form class="needs-validation" id="register" novalidate>
        <div class="custom-form-item">
            <div id="custom-radio-nationality">
                <input type="radio" name="radioNationality" id="radioNationality1" checked>
                <label for="radioNationality1">내국인</label>
                <input type="radio" name="radioNationality" id="radioNationality2">
                <label for="radioNationality2">외국인</label>
                <input type="radio" name="radioNationality" id="radioNationality3">
                <label for="radioNationality3">총괄</label>
            </div>
        </div>
        <div class="custom-form-item">
            
            <!-- 이미지 업로드 입력 -->
            <input type="file" id="fileInput-selfie" accept="image/*" style="display: none;" onchange="displayImage(event,'selfie')">
            
            <!-- 미리보기 -->
            <div id="preview-selfie" style="float:right;align-items: right;">
                <img id ='no-image' src="static/img/selife.png" style="max-width:30%; height:auto;float:right;"  alt="">
                <img id="previewImage-selfie" style="display:none; max-width:30%; height:auto;float:right;" />
              
            </div>
            <button onclick="uploadImage('selfie')" class="btn btn-outline-secondary" style="height: 40px;width:160px;font-size:15px;">본인 사진 업로드</button>


            
            <label for="identify" class="form-label">아이디</label>
            <input type="text" class="form-control" id="identify" required placeholder="아이디">
        </div>
        <div class="custom-form-item">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" class="form-control" id="password" required placeholder="비밀번호">
        </div>
        <div class="custom-form-item">
            <!-- <label for="passwordCheck" class="form-label">비밀번호 확인</label> -->
            <input type="password" class="form-control" id="passwordCheck" required  placeholder="비밀번호 확인">
            <div class="invalid-feedback">
                비밀번호를 확인해 주세요.
            </div>
        </div>
        <div class="custom-form-item">
            <label for="name" class="form-label">이름</label>
            <input type="text" class="form-control" id="name" required>
            <div class="invalid-feedback">
                내국인의 경우 한글만 입력해주세요.
            </div>
        </div>
        <div class="custom-form-item">
            <label for="contact" class="form-label">전화번호</label>
            <input type="text" class="form-control" id="contact" required>
        </div>
        <div class="custom-form-item">
            <label for="nationality" class="form-label">국적</label>
            <select id="nationality" class="form-control" required>
            {% for contry in countries %}
                <option value="{{ contry }}">{{ contry }}</option>
            {% endfor %}
            </select>
            <!-- <input type="text" class="form-control" id="nationality" required> -->
        </div>
        <div class="custom-form-item">
            <label for="credential" class="form-label">주민등록번호 / 여권번호</label>
            <div class="col-12 col-sm-8 col-lg-4" style="display: flex; align-items: center;">
            <input type="text" class="form-control" id="credential" required style="margin: 0; height: 40px;" placeholder="여기에 번호를 기재해주세요.">
    
            <button onclick="uploadImage('credential')" class="btn btn-outline-secondary" style="height: 40px;width:160px;font-size:14px;">신분증 업로드</button>
            </div>
            <!-- 이미지 업로드 입력 -->
            <input type="file" id="fileInput-credential" accept="image/*" style="display: none;" onchange="displayImage(event,'credential')">
            
            <!-- 캡처 이미지 미리보기 -->
            <video id="video-credential" width="320" height="240" autoplay style="display:none;"></video>
            <canvas id="canvas-credential" width="320" height="240" style="display:none;"></canvas>
            <button id="captureBtn-credential" onclick="snap()" style="display:none;">Capture</button>
            
            <!-- 미리보기 -->
            <div id="preview-credential">
                <img id="previewImage-credential" style="display:none; max-width:100%; height:auto;" />
            </div>

        </div>
        <div class="custom-form-item">
            <label for="visa" class="form-label">비자</label>
            <div style="display:flex">
            <input type="text" class="form-control" id="visa" required style="margin: 0; height: 40px;" placeholder="비자는 외국인만 기재">
            <button onclick="uploadImage('visa')" class="btn btn-outline-secondary" style="margin: 0; height: 40px;width:160px;">비자 업로드</button>
            </div>

            <!-- 이미지 업로드 입력 -->
            <input type="file" id="fileInput-visa" accept="image/*" style="display: none;" onchange="displayImage(event,'visa')">
            
            <!-- 캡처 이미지 미리보기 -->
            <video id="video-visa" width="320" height="240" autoplay style="display:none;"></video>
            <canvas id="canvas-visa" width="320" height="240" style="display:none;"></canvas>
            <button id="captureBtn-visa" onclick="snap()" style="display:none;">Capture</button>
            
            <!-- 미리보기 -->
            <div id="preview-visa">
                <img id="previewImage-visa" style="display:none; max-width:100%; height:auto;" />
            </div>

        </div>
        <div class="custom-form-item">
            <label for="address" class="form-label">주소</label>
            <input type="text" class="form-control" id="address" required>
        </div>
        <div class="custom-form-item">
            <label for="certificate" class="form-label">자격증 업로드(선택)</label>
            <div style="display:flex">
            <button onclick="uploadImage('certificate1')" class="btn btn-outline-secondary" style="margin: 0; height: 40px;width:160px;">자격증1</button>
            <button onclick="uploadImage('certificate2')" class="btn btn-outline-secondary" style="margin: 0; height: 40px;width:160px;">자격증2</button>
            <button onclick="uploadImage('certificate3')" class="btn btn-outline-secondary" style="margin: 0; height: 40px;width:160px;">자격증3</button>
            
            </div>

            <!-- 이미지 업로드 입력 -->
            <input type="file" id="fileInput-certificate1" accept="image/*" style="display: none;" onchange="displayImage(event,'certificate1')">
            <input type="file" id="fileInput-certificate2" accept="image/*" style="display: none;" onchange="displayImage(event,'certificate2')">
            <input type="file" id="fileInput-certificate3" accept="image/*" style="display: none;" onchange="displayImage(event,'certificate3')">
            
            <!-- 미리보기 -->
            <div id="preview-certificate1">
                <img id="previewImage-certificate1" style="display:none; max-width:100%; height:auto;" />
            </div>
            <div id="preview-certificate2">
                <img id="previewImage-certificate2" style="display:none; max-width:100%; height:auto;" />
            </div>
            <div id="preview-certificate3">
                <img id="previewImage-certificate3" style="display:none; max-width:100%; height:auto;" />
            </div>
        </div>
        <div class="custom-form-item">
            <label for="highBlood" class="form-label">고혈압 증상 여부 (선택)</label>
            <select type="text" class="form-control" id="highBlood" onchange="toggleDiv()">
                <option value="">--선택--</option>
                <option value="Y">네(의사 소견서 제출)</option>
                <option value="N">아니오</option>
            </select>
            <div id="highblood-yes" style="display:none;">
                <button onclick="uploadImage('highblood')" class="btn btn-outline-secondary" style="margin: 0; height: 40px;width:160px;">소견서 업로드</button>
            

                <!-- 이미지 업로드 입력 -->
                <input type="file" id="fileInput-highblood" accept="image/*" style="display: none;" onchange="displayImage(event,'highblood')">
                
                <!-- 캡처 이미지 미리보기 -->
                <video id="video-highblood" width="320" height="240" autoplay style="display:none;"></video>
                <canvas id="canvas-highblood" width="320" height="240" style="display:none;"></canvas>
                <button id="captureBtn-highblood" onclick="snap()" style="display:none;">Capture</button>
                
                <!-- 미리보기 -->
                <div id="preview-highblood">
                    <img id="previewImage-highblood" style="display:none; max-width:100%; height:auto;" />
                </div>
            </div>
                
        </div>
        <button type="submit" id="submit" class="btn btn-dark-custom">정보 등록</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/tesseract.js@2.1.1/dist/tesseract.min.js"></script><!-- OCR 적용-->

<script>

const userData = {{info_list|tojson|safe}}
//고혈압
console.log('userData',userData)
function toggleDiv() {
    const selectElement = document.getElementById("highBlood");
    const displayDiv = document.getElementById("highblood-yes");

    if (selectElement.value === "Y") {
      displayDiv.style.display = "block";
    } else {
      displayDiv.style.display = "none";
    }
  }


// 이미지 업로드 함수
function uploadImage(id) {
    event.preventDefault();
    document.getElementById('fileInput-'+id).click();
}

// 이미지 파일을 선택한 후 미리보기
function displayImage(event,id) {
    event.preventDefault();
    const file = event.target.files[0];
    const previewImage = document.getElementById('previewImage-'+id);
    if (file) {
    const reader = new FileReader();
    reader.onload = function(e) {
        previewImage.src = e.target.result;
        previewImage.style.display = 'block';
        if(id=='selfie'){
            document.getElementById('no-image').style.display='none'

        }
        // 저장하기 
        const formData = new FormData();
        formData.append('image', file);
        formData.append('textData', id);
        console.log(formData)

        fetch('/upload-image', {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('이미지가 성공적으로 업로드되었습니다!');
            } else {
                alert('이미지 업로드에 실패했습니다.');
            }
        })
        .catch(error => {
            alert('서버 요청에 실패했습니다.');
            
        });

    };
    reader.readAsDataURL(file);
    }
}



// 캡처 버튼 클릭 시 이미지 캡처
function snap() {
    const canvas = document.getElementById('canvas');
    const video = document.getElementById('video');
    const context = canvas.getContext('2d');
    context.drawImage(video, 0, 0, canvas.width, canvas.height);

    // 캔버스 이미지 미리보기
    const previewImage = document.getElementById('previewImage');
    previewImage.src = canvas.toDataURL('image/png');
    previewImage.style.display = 'block';

    // 카메라 스트림 종료
    video.srcObject.getTracks().forEach(track => track.stop());
    video.style.display = 'none';
    document.getElementById('captureBtn').style.display = 'none';
}

// 해당 필드에 값이 있을 경우 값을 넣고 disabled 처리
function populateAndDisableFields() {
    const formFields = {
        user_address: document.getElementById('address'),
        user_certificate: document.getElementById('certificate'),
        user_contact: document.getElementById('contact'),
        user_credential: document.getElementById('credential'),
        user_highBlood: document.getElementById('highBlood'),
        user_id: document.getElementById('identify'),
        user_name: document.getElementById('name'),
        user_nationality: document.getElementById('nationality'),
        user_visa: document.getElementById('visa')
    };
    console.log(formFields)
    // 각 필드를 체크하여 값이 있으면 설정하고 disabled 처리
    for (const key in userData) {
        console.log(isNaN(userData[key]))
        if ((userData[key] !== null || !isNaN(userData[key]))&& formFields[key]) {
            console.log(userData[key])
            formFields[key].value = userData[key];
            // formFields[key].disabled = true;  // 값이 있으면 필드 비활성화
        }
    }
}

function checkNationalityAndDisableVisa() {
        const radioNationality1 = document.getElementById('radioNationality1');
        const radioNationality3 = document.getElementById('radioNationality3');
        const visaField = document.getElementById('visa');
        const nationality = document.getElementById('nationality');
        console.log('radioNationality1',radioNationality1)
        if (radioNationality1.checked) {
            visaField.disabled = true;  // radioNationality1이 체크되면 비자 필드를 비활성화
            nationality.disabled = true;
            nationality.value = 'Korea, Republic of';

        } else if(radioNationality3.checked){
            visaField.disabled = true;  // radioNationality1이 체크되면 비자 필드를 비활성화
            nationality.disabled = true;
            nationality.value = 'Korea, Republic of';
        }else {
            visaField.disabled = false; // 다른 값이면 비자 필드를 활성화
            
        }
    }

   

// 라디오 버튼 클릭할 때마다 변경 사항을 감지하고 처리
document.getElementById('custom-radio-nationality').addEventListener('change', checkNationalityAndDisableVisa);



window.onload = function() {
    populateAndDisableFields();
    checkNationalityAndDisableVisa();
    // 필요시 다른 함수도 호출
};

const identifyValidation = () => {
    // 아이디 검증
    // 빈칸 확인
    const identify = document.querySelector('#identify');    
    if (!identify.value) {
        console.log("여기야?!")
        identify.classList.add('is-invalid');
        return false
    }

    // // 외국인이라면 통과
    // const radioKorean = document.querySelector('#radioNationality1');
    // if (!radioKorean.checked) {
    //     console.log("여기야2?!")
    //     return true
    // }

    // // 내국인이라면 한글 체크
    // if (/^[ㄱ-ㅎㅏ-ㅣ가-힣]+$/.test(identify.value)) {
    //     console.log("여기야?3!")
    //     return true
    // }
    return true
}

const passwordValidation = () => {
    // 비밀번호 검증
    // 빈칸 확인
    const password = document.querySelector('#password');
    if (!password.value) {
        password.classList.add('is-invalid');
        return false
    }
    return true
}

const passwordCheckValidation = () => {
    // 비밀번호 확인 검증
    // 빈칸 확인
    const password = document.querySelector('#password');
    const passwordCheck = document.querySelector('#passwordCheck');
    if (!passwordCheck.value) {
        passwordCheck.classList.add('is-invalid');
        return false
    }
    
    if (password.value === passwordCheck.value) {
        return true
    }else{
        alert("비밀번호가 다릅니다.")
    }
    passwordCheck.classList.add('is-invalid');
    return false
}

const nameValidation = () => {
    // 이름 검증
    // 빈칸 확인
    const name = document.querySelector('#name');
    if (!name.value) {
        name.classList.add('is-invalid');
        return false
    }

     // 외국인이라면 통과
    const radioKorean = document.querySelector('#radioNationality1');
    if (!radioKorean.checked) {
        console.log("여기야2?!")
        return true
    }

    // 내국인이라면 한글 체크
    if (/^[ㄱ-ㅎㅏ-ㅣ가-힣]+$/.test(name.value)) {
        console.log("여기야?3!")
        return true
    }
    name.classList.add('is-invalid');
    return false

}

const contactValidation = () => {
    // 전화번호 검증
    // 빈칸 확인
    const contact = document.querySelector('#contact');
    if (!contact.value) {
        contact.classList.add('is-invalid');
        return false
    }
    return true
}

const credentialValidation = () => {
    // 전화번호 검증
    // 빈칸 확인
    const credential = document.querySelector('#credential');
    if (!credential.value) {
        credential.classList.add('is-invalid');
        return false
    }
    return true
}

const visaValidation = () => {
    // 전화번호 검증
    // 빈칸 확인
    const visa = document.querySelector('#visa');
    if(visa.disabled==false){
        if (!visa.value) {
             visa.classList.add('is-invalid');

            return false
        }
        return true
    }else{
        return true
    }
    
}

const addressValidation = () => {
    // 전화번호 검증
    // 빈칸 확인
    const address = document.querySelector('#address');
    if (!address.value) {
        address.classList.add('is-invalid');
        return false
    }
    return true
}

(() => {
    'use strict';
    // 내국인/외국인 radio
    const nationality = document.querySelector('#nationality');
    const radioKorean = document.querySelector('#radioNationality1');
    radioKorean.addEventListener('change', () => {
        nationality.disabled = true;
        nationality.value = 'Korea, Republic of';
    });
    const radioForeinger = document.querySelector('#radioNationality2');
    radioForeinger.addEventListener('change', (e) => {
        nationality.disabled = false;
    });

    // 국적
    nationality.disabled = true;
    nationality.value = 'Korea, Republic of';

    // focus시 is-invalid 삭제
    const allInput = document.querySelectorAll('.needs-validation input');
    allInput.forEach((each) => {
        each.addEventListener('focus', () => {
            each.classList.remove('is-invalid');    
        })
    })

    // Form 검증
    const customValidity = () => {
        let result = true;
        if (!identifyValidation()) {
            result = false;
            console.log("11")
        }
        if (!passwordValidation()) {
            result = false;
            console.log("22")
        }
        if (!passwordCheckValidation()) {
            result = false;
            console.log("33")
        }
        if (!nameValidation()) {
            result = false;
            console.log("44")
        }
        return result
    }

    //const form = document.querySelector('.needs-validation');
    const form = document.getElementById("submit")
    form.addEventListener('click', event => {
        console.log('customValidity',customValidity())
        if (customValidity()) {
            event.preventDefault();
            event.stopPropagation();

                    
            var user_id = $('#identify').val();
            var user_pw = $('#password').val();
            var user_name = $('#name').val();
            var user_contact = $('#contact').val();
            var user_nationality = $('#nationality').val();
            var user_credential = $('#credential').val();
            var user_visa = $('#visa').val();
            var user_address = $('#address').val();
            var user_certificate = $('#certificate').val();
            var user_highBlood = $('#highBlood').val();
            var radio_nationality = document.querySelector('input[name="radioNationality"]:checked');
            

        //     fetch('/upload-image', {
        //         method: 'POST',
        //         body: formData,
        //     })
        //     .then(response => response.json())
        //     .then(data => {
        //         if (data.success) {
        //             alert('이미지가 성공적으로 업로드되었습니다!');
        //         } else {
        //             alert('이미지 업로드에 실패했습니다.');
        //         }
        //     })
        //     .catch(error => {
        //         console.error('Error:', error);
        //         alert('서버 요청에 실패했습니다.');
        //     });
        // }
            
            $.ajax({
                url: '/register',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({user_id: user_id, user_pw: user_pw,user_name:user_name,
                    user_contact:user_contact,user_nationality:user_nationality,user_credential:user_credential,
                    user_visa:user_visa,user_address:user_address,user_certificate:user_certificate ,user_highBlood:user_highBlood,radio_nationality:radio_nationality    
                }),
                success: function(response) {
                    // alert('개인정보 저장이 완료되었습니다.\n 로그인 화면으로 돌아갑니다. ');
                    // window.location.href = 'backoffice'
                    console.log("정보 저장 끝")
                },
                error: function(response) {
                    alert("정보를 모두 기입해주세요.")
                }
            });


        }else{
            event.preventDefault();
            alert("정보를 모두 기입해주세요.")
        }
        
    }, false);

})()
</script>
{% endblock %}

