{% extends "layout.html" %}
{% block title %}Survey{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://cdn.emailjs.com/dist/email.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.5/xlsx.full.min.js"></scriptsrc>></script>
   <script charset="utf-8" src="https://static.worksmobile.net/static/wm/woff/edge/3.6/sdk.js"></script>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

   <!-- Vendor CSS Files -->
   <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
   <link href="static/vendor/aos/aos.css" rel="stylesheet">
   <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
   <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

   <!-- Main CSS File -->
  <!-- <link href="static/css/main.css" rel="stylesheet"> -->
  <link href="static/css/index.css" rel="stylesheet">
   

   <script type="text/javascript">
       (function() {
           emailjs.init("_GKGc3e2Afedx7hjm")
       })();
   </script>
 
   <style>

        .item_disable {
            pointer-events: none;
            opacity: 0.5;
        }
        .list_depth1 {
            display: none;
        }
        .list_depth1.active {
            display: block;
        }

        

       h2 {
           color: #333;
           text-align: center;
           margin-bottom: 20px;
       }

       form {
           background: #fff;
           padding: 20px;
           border-radius: 10px;
           box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
           width: 100%;
           max-width: 1000px;
           display: flex;
           flex-direction: column;
       }

       label {
           margin-bottom: 5px;
           color: #555;
           font-weight: bold;
       }

       input[type="number"],
       input[type="text"],
       select,
       textarea {
           border: 1px solid #ccc;
           border-radius: 5px;
           padding: 10px;
           margin-bottom: 20px;
           width: 100%;
           box-sizing: border-box;
       }

       textarea {
           resize: none;
           height: 100px;
       }

       input[type="submit"] {
           padding: 15px;
           border: none;
           border-radius: 5px;
           font-size: 16px;
           width: 100%;
           background-color: #4CAF50;
           color: white;
           cursor: pointer;
           transition: background-color 0.3s ease;
       }

       input[type="submit"]:hover {
           background-color: #45a049;
       }

       .section {
           margin-bottom: 20px;
       }

       .flex-container {
           display: flex;
           gap: 10px;
           flex-wrap: wrap;
       }

       .flex-container .col-4 {
           flex: 1;
           min-width: 150px;
       }

       .flex-container .col-4 button {
           margin-left: 10px;
           padding: 10px;
           border: none;
           background-color: #36c1ae;
           color: white;
           border-radius: 5px;
           cursor: pointer;
           transition: background-color 0.3s ease;
       }

       .flex-container .col-4 button:hover {
           background-color: #2a978b;
       }
       .button{
        margin-left: 10px;
        padding: 10px;
        border: none;
        background-color: #36c1ae;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
       }

   </style>
</head>

<body class="index-page" style="margin-top:100px;">

    <header id="header" class="header fixed-top">
        <div class="topbar d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">contact@example.com</a></i>
            <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
            </div>
            <div class="social-links d-none d-md-flex align-items-center">
            <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
        </div><!-- End Top Bar -->
    
        <div class="branding d-flex align-items-center">
        <div class="container position-relative d-flex align-items-center justify-content-between">
            <a href="{{ url_for('main') }}" class="logo d-flex align-items-center">
            <img src="{{ url_for('static', filename='img/seowoologo.png') }}" alt="">
            <!-- <h1 class="sitename">서우HR</h1> -->
            </a>
            <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="#hero">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#Services">Services</a></li>
                <li><a href="{{url_for('survey')}}" class = 'active'>Survey</a></li>
                <li><a href="{{url_for('calendar')}}">Calendar</a></li>
                <li><a href="{{url_for('productivity')}}">Productivity</a></li>
                <li><a href="#team">Team</a></li>
                <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                    <li><a href="#">Dropdown 1</a></li>
                    <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li><a href="#">Deep Dropdown 1</a></li>
                        <li><a href="#">Deep Dropdown 2</a></li>
                        <li><a href="#">Deep Dropdown 3</a></li>
                        <li><a href="#">Deep Dropdown 4</a></li>
                        <li><a href="#">Deep Dropdown 5</a></li>
                    </ul>
                    </li>
                    <li><a href="#">Dropdown 2</a></li>
                    <li><a href="#">Dropdown 3</a></li>
                    <li><a href="#">Dropdown 4</a></li>
                </ul>
                </li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
        </div>
        </div>
    </header>
    <h2>Survey Form</h2>
   
   <form id="survey-form" style="align-items: center;">


    <label for='survey1'>작업 공수 기재</label>
    <ul id ='survey1'>
        <li>
            <!-- 제조사 선택 -->
            <a href="#" class="link_item" onclick="showOptions('site')">
                <strong class="tit_category">작업 장소</strong>
            </a>
                <ul class="list_depth1 list_search" id="siteOptions">
                    <!-- Example options -->
                    <li><a href="#" onclick="selectOption('site', '당진')">당진</a></li>
                    <li><a href="#" onclick="selectOption('site', '마곡')">마곡</a></li>
                    <li><a href="#" onclick="selectOption('site', '시흥')">시흥</a></li>
                </ul>
                <span class="uiico uiico_arrow"></span>
            
        </li>
        <li id="cat1Item" class="item_disable">
            <!-- 모델 선택 -->
            <a href="#" class="link_item" onclick="showOptions('cat1')">
                <strong class="tit_category">중분류</strong></a>
                <ul class="list_depth1 list_search" id="cat1Options"></ul>
                <span class="uiico uiico_arrow"></span>
           
        </li>
        <li id="cat2Item" class="item_disable">
            <!-- 등급 선택 -->
            <a href="#" class="link_item" onclick="showOptions('cat2')">
                <strong class="tit_category">층</strong>
            </a>
                <ul class="list_depth1 list_search" id="cat2Options"></ul>
                <span class="uiico uiico_arrow"></span>
           
        </li>
        <li id="cat3Item" class="item_disable">
            <!-- 등급 선택 -->
            <a href="#" class="link_item" onclick="showOptions('cat3')">
                <strong class="tit_category">구간</strong>
            </a>
                <ul class="list_depth1" id="cat3Options"></ul>
                <span class="uiico uiico_arrow"></span>
            
        </li>
        <li id="cat4Item" class="item_disable">
            <!-- 등급 선택 -->
            <a href="#" class="link_item" onclick="showOptions('cat4')">
                <strong class="tit_category">세부구간</strong>
            </a>
                <ul class="list_depth1 list_search" id="cat4Options"></ul>
                <span class="uiico uiico_arrow"></span>
            
        </li>
        <li id="cat5Item" class="item_disable">
            <!-- 등급 선택 -->
            <a href="#" class="link_item" onclick="showOptions('cat5')">
                <strong class="tit_category">작업내용</strong>
            </a>
                <ul class="list_depth1 list_search" id="cat5Options"></ul>
                <span class="uiico uiico_arrow"></span>
            
        </li>
        <li id="cat6Item" class="item_disable">
            <!-- 등급 선택 -->
            <a href="#" class="link_item" onclick="showOptions('cat6')">
                <strong class="tit_category">공수</strong>
            </a>
                <input type="number" id="effort" name="effort">
           
        </li>

    </ul>

    <label for='survey2'>인원 및 특이사항</label>
    <ul id ='survey2'>
        <div class="flex-container">
            <div class="col-4">
                <label for="workers_add1">기본 근무자 추가:</label>
                <input type="text" id="workers_add1">
                <button id="add1" class="button" style="float:right">작업자 추가</button><br><br><br>
                <label for="workers-normal">작업자 명:</label>
                <textarea id="workers-normal" disabled=""></textarea>
            </div>
            <div class="col-4">
                <label for="workers_add2">추가 근무자 추가:</label>
                <input type="text" id="workers_add2">
                <button id="add2" class="button" style="float:right">작업자 추가</button><br><br><br>
                <label for="workers-hard">작업자 명:</label>
                <textarea id="workers-hard" disabled=""></textarea>
            </div>
            <div class="col-4">
                <label for="workers_add3">오전 근무자 추가:</label>
                <input type="text" id="workers_add3">
                <button id="add3" class="button" style="float:right">작업자 추가</button><br><br><br>
                <label for="workers-morning">작업자 명:</label>
                <textarea id="workers-morning" disabled=""></textarea>
            </div>
        </div>

        <div class="section">
            <label for="specialnotes">특이사항:</label>
            <textarea id="specialnotes" name="specialnotes"></textarea>
        </div>

        <div class="section">
            <label for="overtime">연장근무:</label>
            <textarea id="overtime" name="overtime"></textarea>
        </div>


    </ul>


   </form>
   <input type="submit" value="Submit" id="submit">

</body>
</html>

<script type="text/javascript">

    var data =null ; 
    $.getJSON('/static/data/test.json', function(item) {
            data =  JSON.parse(item)
            console.log(data)
        }).fail(function() {
            console.error('Error fetching JSON');
        });
    
    

    function populateDropdown(id, options) {
                const select = document.getElementById(id);
                select.innerHTML = '<option value="">Select</option>';
                options.forEach(option => {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.text = option;
                    select.appendChild(opt);
                });
	    	}

    function filterData(level) {
            if (!data) {
                console.error('Data is not loaded yet.');
                return;
            }

            const category = document.getElementById('category').value;
            const floor = document.getElementById('floor').value;
            const section = document.getElementById('section').value;

            let filteredData = [];
            if (level === 'category') {
                filteredData = data.filter(item => item['cat1'] === category);
                populateDropdown('floor', [...new Set(filteredData.map(item => item['cat2']))]);
                document.getElementById('section').innerHTML = '<option value="">Select</option>';
                document.getElementById('subsection').innerHTML = '<option value="">Select</option>';
                document.getElementById('task').innerHTML = '<option value="">Select</option>';
            } else if (level === 'floor') {
                filteredData = data.filter(item => item['cat1'] === category && item['cat2'] === floor);
                populateDropdown('section', [...new Set(filteredData.map(item => item['cat3']))]);
                document.getElementById('subsection').innerHTML = '<option value="">Select</option>';
                document.getElementById('task').innerHTML = '<option value="">Select</option>';
            } else if (level === 'section') {
                filteredData = data.filter(item => item['cat1'] === category && item['cat2'] === floor && item['cat3'] === section);
                populateDropdown('subsection', [...new Set(filteredData.map(item => item['cat4']))]);
                populateDropdown('task', [...new Set(filteredData.map(item => item['작업 내용']))]);
            }
        };


    function showOptions(category) {
        console.log(document.getElementById(category + 'Options').classList)
        console.log(document.getElementById(category + 'Options').classList.length)
        
        if(document.getElementById(category + 'Options').classList.contains("active")){
            console.log("active있음")
            document.querySelectorAll('.list_depth1').forEach(el => el.classList.remove('active'));
            document.getElementById(category + 'Options').classList.remove('active');
        
        }else{
            console.log("active없음")
            document.querySelectorAll('.list_depth1').forEach(el => el.classList.remove('active'));
            document.getElementById(category + 'Options').classList.add('active');
        }
        console.log(document.getElementById(category + 'Options').classList)
        console.log(document.getElementById(category + 'Options').classList.length)
        console.log(category)
        console.log('aa')
    }

    var site = null;
    var cat1 = null;
    var cat2 = null;
    var cat3 = null;
    var cat4 = null;
    var cat5 = null;
    var cat6 = null;
    

    function selectOption(category, value) {
      
        
        if (category === 'site') {
            site = value;
            document.getElementById('cat1Item').classList.remove('item_disable');
            const modelOptions = document.getElementById('cat1Options');
            console.log(data)
            const uniqueValues = [...new Set(data.filter(item => item['작업장명'] === value).map(item => item['중분류']))];
            modelOptions.innerHTML = uniqueValues.map(model => 
                `<li><a href="#" onclick="selectOption('cat1', '${model}'); showOptions('cat2');">${model}</a></li>`
            ).join('');
            document.getElementById(category + 'Options').classList.remove('active');
            // modelOptions.innerHTML = data.filter(item=>item['작업장명']===value).map(model => 
            //     `<li><a href="#" onclick="selectOption('cat1', '${model['cat1']}')">${model['cat1']}</a></li>`
            // ).join('');
        } else if (category === 'cat1') {
     
            cat1 = value;
            document.getElementById('cat2Item').classList.remove('item_disable');
            const modelOptions = document.getElementById('cat2Options');
            const uniqueValues = [...new Set(data.filter(item => item['작업장명'] === site&&item['중분류'] === value).map(item => item['층']))];
            modelOptions.innerHTML = uniqueValues.map(model => 
                `<li><a href="#" onclick="selectOption('cat2', '${model}'); showOptions('cat3');">${model}</a></li>`
            ).join('');
            console.log(document.getElementById(category + 'Options'))
            document.getElementById(category + 'Options').classList.remove('active');
            console.log("Aa")
        } else if(category==="cat2"){
            cat2 = value;
            document.getElementById('cat3Item').classList.remove('item_disable');
            const modelOptions = document.getElementById('cat3Options');
            const uniqueValues = [...new Set(data.filter(item => item['작업장명'] === site&&item['중분류'] === cat1&&item['층'] === value).map(item => item['구간']))];
            modelOptions.innerHTML = uniqueValues.map(model => 
                `<li><a href="#" onclick="selectOption('cat3', '${model}'); showOptions('cat4');">${model}</a></li>`
            ).join('');
       

        }else if(category==="cat3"){
            cat3 = value;
            document.getElementById('cat4Item').classList.remove('item_disable');
            const modelOptions = document.getElementById('cat4Options');
            const uniqueValues = [...new Set(data.filter(item => item['작업장명'] === site&&item['중분류'] === cat1&&item['층'] === cat2&&item['구간'] === value).map(item => item['세부구간']))];
            modelOptions.innerHTML = uniqueValues.map(model => 
                `<li><a href="#" onclick="selectOption('cat4', '${model}'); showOptions('cat5');">${model}</a></li>`
            ).join('');
       

        }else if(category==="cat4"){
            cat4= value;
            document.getElementById('cat5Item').classList.remove('item_disable');
            const modelOptions = document.getElementById('cat5Options');
            const uniqueValues = [...new Set(data.filter(item => item['작업장명'] === site&&item['중분류'] === cat1&&item['층'] === cat2&&item['구간'] === cat3&&item['세부구간'] === value).map(item => item['작업 내용']))];
            modelOptions.innerHTML = uniqueValues.map(model => 
                `<li><a href="#" onclick="selectOption('cat5', '${model}'); showOptions('cat6');">${model}</a></li>`
            ).join('');
      

        }else if(category==="cat5"){
            cat4= value;
            document.getElementById('cat6Item').classList.remove('item_disable');
            

        }

        // Hide the current options after selection
        
    }

     

    window.onload = function(){

       
        
    
  		 document.getElementById('add1').addEventListener('click', function(event) {
			event.preventDefault();
		     var newbie = document.getElementById('workers_add1').value; 
		   	 var work_list = document.getElementById('workers-normal');
		   	
		     work_list.textContent += newbie+","; 
		   	document.getElementById('workers_add1').value = "";
		   
		 });
  
		document.getElementById('add2').addEventListener('click', function(event) {
					event.preventDefault();
				   var newbie = document.getElementById('workers_add2').value; 
				   var work_list = document.getElementById('workers-hard');

				   work_list.textContent += newbie+","; 
				  document.getElementById('workers_add2').value = "";

			   });

		document.getElementById('add3').addEventListener('click', function(event) {
				  event.preventDefault();
				   var newbie = document.getElementById('workers_add3').value; 
				   var work_list = document.getElementById('workers-morning');

				   work_list.textContent += newbie+","; 
				  document.getElementById('workers_add3').value = "";

			   });

        document.getElementById('add-task').addEventListener('click', function(event) {
				  event.preventDefault();
				   var category = document.getElementById('category').value; 
                   var floor = document.getElementById('floor').value; 
                   var section = document.getElementById('section').value; 
                   var subsection = document.getElementById('subsection').value; 
                   var task = document.getElementById('task').value; 
                   var effort = document.getElementById('effort').value; 
                   
				   var task_result = document.getElementById('task-result');

				   task_result.textContent += category+"_"+floor+"_"+section+"_"+subsection+"_"+task+"_"+effort+"\n"; 
                   document.getElementById('category').value = "";
                   document.getElementById('floor').value = "";
                   document.getElementById('section').value = "";
                   document.getElementById('subsection').value = "";
                   document.getElementById('task').value = "";
                   document.getElementById('effort').value = "";
                   

			   });

        
   


       
        


    // 1. 페이지 로드 시 인증을 위한 함수 호출
   

       document.getElementById('submit2').addEventListener('click', function(event) {
           createEvent()
           alert("Naverworks 캘린더에 저장하였습니다. ")
            
        })

		 document.getElementById('survey-form').addEventListener('submit', function(event) {
                   
					 // Submit 시점에 required 속성 추가
				  document.getElementById('numworkers').required = true;
				  document.getElementById('specialnotes').required = true;
				  document.getElementById('overtime').required = true;

				  if (!document.getElementById('survey-form').checkValidity()) {
					  // required validation failed
					  event.preventDefault();
					  alert('Please fill all required fields.');
					  return;
				  }


				  event.preventDefault();

				  const formData = {
					  numworkers: document.getElementById('numworkers').value,
					  workersnormal: document.getElementById('workers-normal').value,
					  workershard: document.getElementById('workers-hard').value,
					  workersmorning: document.getElementById('workers-morning').value,
					  taskresult : document.getElementById("task-result").value,
                      specialnotes: document.getElementById('specialnotes').value,
					  overtime: document.getElementById('overtime').value
				  };

				  emailjs.send('service_odcgc2y', 'template_7pojdeh', formData)
					  .then(function(response) {
						  alert('Email sent successfully!');
					  }, function(error) {
						  alert('Failed to send email. Error: ' + JSON.stringify(error));
					  });
			  });

              async function getAccessToken() {

                
                // URL에서 code와 state 파라미터를 추출
                const urlParams = new URLSearchParams(window.location.search);
                const code = urlParams.get('code');
                const state = urlParams.get('state');

                const response = await fetch('/callback', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams({
                    code: code,
                    grant_type: 'authorization_code',
                    client_id: '8zESjIVD54_8K5PA_dIu',
                    client_secret: 'wyWAH1uLEY'
                })
                });
                
                // // 토큰 정보 사용 예제
                // const accessToken = tokenInfo.access_token;
                alert('Access Token: ' + accessToken);
                const tokenInfo = await response.json();
                const accessToken = tokenInfo.access_token;
                console.log("fetch전")
                fetchFiles(accessToken);
                }

    function formatDateTime(date) {
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            const hours = String(date.getHours()).padStart(2, '0');
            const minutes = String(date.getMinutes()).padStart(2, '0');
            const seconds = String(date.getSeconds()).padStart(2, '0');

            return `${year}-${month}-${day}T${hours}:${minutes}:${seconds}`;
        }


        async function createEvent() {
            const formData = {
					  numworkers: document.getElementById('numworkers').value,
					  workersnormal: document.getElementById('workers-normal').value,
					  workershard: document.getElementById('workers-hard').value,
					  workersmorning: document.getElementById('workers-morning').value,
					  taskresult : document.getElementById("task-result").value,
                      specialnotes: document.getElementById('specialnotes').value,
					  overtime: document.getElementById('overtime').value
				  };

            const start = new Date();
            start2 = formatDateTime(start)
            console.log(start)

            // const token = await getAccessToken();
     

            const event = {
                summary: "Testmessage",
                description: JSON.stringify(formData),
               
                recurrence:[],
                recurringEventId:"TZID=Asia/Seoul:2025-04-05"
            };
            console.log("?????")
            const response = await fetch('/create_event', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(event)
            });

            const result = await response.json();
            document.getElementById('result').innerText = result.message;
        };

        // 3. 파일 조회 함수
        async function fetchFiles(accessToken) {
            const response = await fetch('https://www.worksapis.com/v1.0/sharedrives', {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${accessToken}`
                }
            });
            const files = await response.json();
            console.log(files);
            // 파일 목록을 화면에 표시하는 함수 호출 (추가 작업 필요)
            displayFiles(files);
        }

        // 4. 파일 목록을 화면에 표시하는 함수 (예제)
        function displayFiles(files) {
            const fileList = document.createElement('ul');
            files.forEach(file => {
                const listItem = document.createElement('li');
                listItem.textContent = file.name; // 예시로 파일 이름을 표시
                fileList.appendChild(listItem);
            });
            document.body.appendChild(fileList);
        }


            };


        
  	
</script>

{% endblock %}