{% extends "layout-backoffice-admin.html" %}
{% block title %}Survey{% endblock %}

{% block head %}
<script src="https://cdn.emailjs.com/dist/email.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.5/xlsx.full.min.js"></script>
<script src="static/js/moment.min.js"></script>
<script src="static/js/fullcalendar.min.js"></script>
<script src="static/js/calendar.js"></script>
<script src="static/js/addEvent.js"></script>
<script src="https://cdn.jsdelivr.net/npm/exceljs@4.3.0/dist/exceljs.min.js"></script>

<script type="text/javascript">
    (function() {
        emailjs.init("_GKGc3e2Afedx7hjm")
    })();
</script>
{% endblock %}

{% block content %}
<h1 class="content-title">작업 일지 작성</h1>

<label for='survey1'>작업 날짜 선택</label>
<ul >
    <li class ='survey_item' style="align-items: center;">
    <!-- 작업 날짜 선택-->
    <input type="date" id = 'date-input' >
    </li>
</ul>

<ul>
    <button class="btn btn-outline-primary active" id="survey2-active">작업 선택</button>
    <button class="btn btn-outline-primary" id="survey1-active">새작업 추가</button>
</ul>


<ul id ='survey1' style="display:none;">
    <label for='survey1'>새작업 계획</label>
    <li class="survey_item">
        
        <!-- 작업 장소 선택 -->
        <button class="survey_btn">
            <div class="survey_btn_title">
                <div class="survey_btn_title_name">작업 장소</div>
                <div class="survey_btn_title_data" id="site"></div>
            </div>
            <i class="bi bi-chevron-right"></i>
        </button>
        
    </li>
    <li id="cat1Item" class=" survey_item">
        <!-- 중분류 선택 -->
        <button class="survey_btn" data-bs-toggle="modal" data-bs-target="#cat1Modal">
            <div class="survey_btn_title">
                <div class="survey_btn_title_name">중분류</div>
                <div class="survey_btn_title_data" id="cat1"></div>
            </div>
            <i class="bi bi-chevron-right"></i>
        </button>
        
        <div class="modal fade" id="cat1Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <i type="button" class="bi bi-chevron-left modal-icon" data-bs-dismiss="modal" aria-label="Close"></i>
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">중분류</h1>
                    </div>
                    <ul class="modal-body-custom" id="cat1Options"></ul>
                </div>
            </div>
        </div>
    </li>
    <li id="cat2Item" class="item-disable survey_item">
        <!-- 층 선택 -->
        <button class="survey_btn" data-bs-toggle="modal" data-bs-target="#cat2Modal">
            <div class="survey_btn_title">
                <div class="survey_btn_title_name">층</div>
                <div class="survey_btn_title_data" id="cat2"></div>
            </div>
            <i class="bi bi-chevron-right"></i>
        </button>
        
        <div class="modal fade" id="cat2Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <i type="button" class="bi bi-chevron-left modal-icon" data-bs-dismiss="modal" aria-label="Close"></i>
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">층</h1>
                    </div>
                    <ul class="modal-body-custom" id="cat2Options"></ul>
                </div>
            </div>
        </div>
    </li>
    <li id="cat3Item" class="item-disable survey_item">
        <!-- 구간 선택 -->
        <button class="survey_btn" data-bs-toggle="modal" data-bs-target="#cat3Modal">
            <div class="survey_btn_title">
                <div class="survey_btn_title_name">구간</div>
                <div class="survey_btn_title_data" id="cat3"></div>
            </div>
            <i class="bi bi-chevron-right"></i>
        </button>
        
        <div class="modal fade" id="cat3Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <i type="button" class="bi bi-chevron-left modal-icon" data-bs-dismiss="modal" aria-label="Close"></i>
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">구간</h1>
                    </div>
                    <ul class="modal-body-custom" id="cat3Options"></ul>
                </div>
            </div>
        </div>
    </li>
    <li id="cat4Item" class="item-disable survey_item">
        <!-- 세부구간 선택 -->
        <button class="survey_btn" data-bs-toggle="modal" data-bs-target="#cat4Modal">
            <div class="survey_btn_title">
                <div class="survey_btn_title_name">공종</div>
                <div class="survey_btn_title_data" id="cat4"></div>
            </div>
            <i class="bi bi-chevron-right"></i>
        </button>
        
        <div class="modal fade" id="cat4Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <i type="button" class="bi bi-chevron-left modal-icon" data-bs-dismiss="modal" aria-label="Close"></i>
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">공종</h1>
                    </div>
                    <ul class="modal-body-custom" id="cat4Options"></ul>
                </div>
            </div>
        </div>
    </li>
    <li id="cat5Item" class="item-disable survey_item">
        <!-- 작업내용 선택 -->
        <button class="survey_btn" data-bs-toggle="modal" data-bs-target="#cat5Modal">
            <div class="survey_btn_title">
                <div class="survey_btn_title_name">작업구분</div>
                <div class="survey_btn_title_data" id="cat5"></div>
            </div>
            <i class="bi bi-chevron-right"></i>
        </button>
        
        <div class="modal fade" id="cat5Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <i type="button" class="bi bi-chevron-left modal-icon" data-bs-dismiss="modal" aria-label="Close"></i>
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">작업구분</h1>
                    </div>
                    <ul class="modal-body-custom" id="cat5Options"></ul>
                </div>
            </div>
        </div>
    </li>

    <li id="cat6Item" class="item-disable survey_item">
        <!-- 작업내용 선택 -->
        <button class="survey_btn" data-bs-toggle="modal" data-bs-target="#cat6Modal">
            <div class="survey_btn_title">
                <div class="survey_btn_title_name">작업내용</div>
                <div class="survey_btn_title_data" id="cat6"></div>
            </div>
            <i class="bi bi-chevron-right"></i>
        </button>
        
        <div class="modal fade" id="cat6Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <i type="button" class="bi bi-chevron-left modal-icon" data-bs-dismiss="modal" aria-label="Close"></i>
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">작업내용</h1>
                    </div>
                    <ul class="modal-body-custom" id="cat6Options"></ul>
                </div>
            </div>
        </div>
    </li>

    <li id="cat7Item" class="item-disable survey_item">
        <!-- 공수 선택 -->
        <div class="survey_btn">
            <div class="survey_btn_title">
                <div class="survey_btn_title_name">목표 공수</div>
                <div class="survey_btn_title_data" id="cat7">
                    <i class="bi bi-dash-lg" onclick="onEffortClicked(-0.1)"></i>
                    <input type="number" id="effort" name="effort">
                    <i class="bi bi-plus-lg" onclick="onEffortClicked(0.1)"></i>
                </div>
            </div>
        </div>
    </li>

    <li id="cat8Item" class="item-disable survey_item">
        <!-- 공수 선택 -->
        <div class="survey_btn">
            <div class="survey_btn_title">
                <div class="survey_btn_title_name">진행률(%)</div>
                <div class="survey_btn_title_data" id="cat8">
                    <i class="bi bi-dash-lg" onclick="onProcessClicked(-5)"></i>
                    <input type="number" id="process" name="process">
                    <i class="bi bi-plus-lg" onclick="onProcessClicked(5)"></i>
                </div>
            </div>
        </div>
    </li>
    
</ul>
<div class="d-grid btn-add-task-area" >
    <button id="survey1-btn" class="btn-dark-custom"  style="display:none;">작업추가</button>
</div>


<div >
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">작업 선택</h1>
            </div>
            <div class="modal-body-custom">
                <br>
                <label for="work-select">작업 선택</label>
                <div id ='work-select'></div>
             
            </div>
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">공수 추가</h1>
            </div>
            <div class="modal-body-custom">
                <div id="work-info"></div>
                
            </div>
            <div class="modal-body-custom" style="display:none;">
                <div class="row" >
                    <div class ='col-5'>
                        <label for="workers_add1">근무자 추가</label>
                        <input type="text" id="workers_add1" placeholder="이름입력" autocomplete="on">
                        
                    </div>
                    
                    <div class ='col-4' style="margin:auto;" >
                        <label for="workers_effort">공수 추가</label>     
                        <div style="display:flex;margin:auto;">
                            <i class="bi bi-dash-lg" onclick="onEffortClicked_workers(-0.1)"></i>
                            <input type="number" id="workers_effort" min=1 placeholder="1" step=0.1 value="1">
                            <i class="bi bi-plus-lg" onclick="onEffortClicked_workers(0.1)"></i>
                         </div>
                    </div>
                    <div class ='col-2'>
                        <label for="add1"></label>     
                        <button id="add1" class="btn-dark-custom"> &nbsp;&nbsp;추가&nbsp;&nbsp; </button>
           
                    </div>
                   
                <div  style="margin:auto;float:center;">
                    
                </div>
                <div id="autocomplete-list"></div>
                <br>
                <div class="row">
          
                <label for="workers-table">작업자 기여도</label>
                <div id="workers-table"></div>
                </div>
                
            </div>
            <div class="d-grid btn-add-task-area">
                <button class="btn-dark-custom"  data-bs-dismiss="modal" aria-label="Close">완료</button>
            </div>
        </div>
    </div>
    
    
</div>
<!-- <div class="d-grid btn-add-task-area" >
    <button id="survey2-btn" class="btn-dark-custom"  style="display:none;">작업추가</button>
</div> -->

<input type="submit" value="제출" id="submit" class="btn-dark-custom">
<div style="display:none;" >
    <textarea id="username">{{name}}</textarea>
</div>

<script src="static/js/survey.js"></script>
<!-- <script src="static/js/main.js"></script>/// -->
<script type="text/javascript">
    
function uploadImage(id) {
  event.preventDefault();
  document.getElementById('fileInput-'+id).click();
  }

// 이미지 파일을 선택한 후 미리보기
function displayMultipleImages(event, suffix) {
  // 선택된 파일 목록
  const files = event.target.files; // FileList 객체

  // 미리보기 컨테이너 가져오기
  const previewContainer = document.getElementById(`preview-${suffix}`);

  // 과거에 표시된 이미지들을 지우고 새로 표시 (원하면 누적도 가능)
  previewContainer.innerHTML = "";

  // FileList를 순회하며 이미지 미리보기 생성
  for (let i = 0; i < files.length; i++) {
    const file = files[i];

    // 이미지만 처리 (필요하다면 확장자 체크 등 추가)
    if (!file.type.startsWith("image/")) {
      continue;  // 이미지 아닌 경우 스킵
    }

    // FileReader로 읽어서 base64 DataURL 얻기
    const reader = new FileReader();
    reader.onload = function(e) {
      // 새 img 요소를 만들어 previewContainer에 삽입
      const img = document.createElement("img");
      img.src = e.target.result;
      img.style.maxWidth = "75px";  // 원하는 스타일
      img.style.height = "auto";
      img.style.marginRight = "8px";
      img.style.marginBottom = "8px";
      previewContainer.appendChild(img);
      
      // 저장하기 
      const formData = new FormData();
      formData.append('image', file);
      formData.append('textData', suffix+"_"+i);
      console.log(formData)

      fetch('/upload-workman', {
          method: 'POST',
          body: formData,
      })
      .then(response => response.json())
      .then(data => {
          if (data.success) {
              console.log('이미지가 성공적으로 업로드되었습니다!');
          } else {
              alert('이미지 업로드에 실패했습니다.');
          }
      })
      .catch(error => {
          alert('서버 요청에 실패했습니다.');
          
      });
    };

    reader.readAsDataURL(file);
  }
}


function displayImage(event,id) {
  event.preventDefault();
  const file = event.target.files[0];
  const previewImage = document.getElementById('previewImage-'+id);
  if (file) {
  const reader = new FileReader();
  reader.onload = function(e) {
      previewImage.src = e.target.result;
      previewImage.style.display = 'block';
      if(id=='selfie'){
          document.getElementById('no-image').style.display='none'

      }
      // 저장하기 
      const formData = new FormData();
      formData.append('image', file);
      formData.append('textData', id);
      console.log(formData)

      fetch('/upload-workman', {
          method: 'POST',
          body: formData,
      })
      .then(response => response.json())
      .then(data => {
          if (data.success) {
              alert('이미지가 성공적으로 업로드되었습니다!');
          } else {
              alert('이미지 업로드에 실패했습니다.');
          }
      })
      .catch(error => {
          alert('서버 요청에 실패했습니다.');
          
      });

  };
  reader.readAsDataURL(file);
  }
}

    window.onload = function(){
    
        
    // 사람, 공수 추가 테이블
    const tableContainer = document.getElementById('workers-table');

    
    // Add Button Event Listener
    document.getElementById('add1').addEventListener('click', function () {
        const name = document.getElementById('workers_add1').value.trim();
        const work =Number(document.getElementById('workers_effort').value);
        const selected_task =document.getElementById('task-select').value;
        console.log(selected_task)

        console.log(name,work,selected_task)
        if (!name || isNaN(work) || work <= 0||!selected_task) {
            alert("이름과 공수, 작업을 올바르게 입력해주세요.");
            return;
        }

        // Check if the table exists, if not, create one
        let table = document.querySelector("#dynamicTable");
        if (!table) {
            table = createTable();
            tableContainer.appendChild(table);
        }

        // Add row to table
        addRow(selected_task,name, work);
    });

    // Function to create a table
    function createTable(suffix) {
        const table = document.createElement('table');
        table.id = "dynamicTable-"+suffix;
        table.innerHTML = `
            <thead>
                <tr>
                    <th>이름</th>
                    <th>공수</th>
                    <th class="hidden-column">작업</th>
                    <th>기여도 (%)</th>
                    <th>삭제</th>
                </tr>
            </thead>
            <tbody></tbody>
        `;
        return table;
    }

    // Function to add a row to the table
    function addRow(task,name, work,suffix) {
        const table = document.querySelector("#dynamicTable-"+suffix);
        const tbody = table.querySelector("tbody");
        console.log(task[0]['작업상세'])
        const maxValue = parseInt(task[0]['목표공수'])-parseInt(task[0]['총공수']);   
        let currentSum = 0;
        tbody.querySelectorAll("tr").forEach(row => {
        const taskCell = row.querySelector(".hidden-column"); // Task 열
        const editableCell = row.cells[1]; // 2rd column (editable)

        if (taskCell && taskCell.textContent.trim() === task[0]['작업상세']) {
            const value = parseInt(editableCell.innerText.trim()) || 0; // Get user input or default to 0
            currentSum += value;
        }
         });

        const workValue = parseFloat(work) || 0;
        //이건 아직 하면 안될듯 
        // if (currentSum + workValue > maxValue) {
        //     alert(`작업의 총합(${currentSum + workValue})이 최대값(${maxValue})을 초과할 수 없습니다.`);
        //     return;
        // }

        // Create a new row 
        const row = document.createElement("tr");
        row.innerHTML = `
            <td>${name}</td>
            <td>${work}</td>
            <td contenteditable='true'></td>
            <td class="hidden-column">${task[0]['작업상세']}</td>
            <td><button onclick="deleteRow(this,'${suffix}')" class='btn btn-secondary'>삭제</button></td>
        `;
        tbody.appendChild(row);

        // Update contributions
        updateContributions(suffix);
    }

    const insadb = {{ insadb | safe }}; // Flask에서 전달된 JSON
    console.log('insadb',insadb)
    var work_info_json = JSON.parse({{work_info_json|tojson|safe}})
    console.log(work_info_json)
    
    
    
    //작업 채우기 
    const task_results = work_info_json;
    const selectContainer = document.getElementById('work-select'); // div 요소 가져오기
    const infoContainter = document.getElementById('work-info')
    // Select 요소 생성
    selectContainer.innerHTML = "";

    const table = document.createElement('table');
    table.classList.add("table")
    // 2) 배열을 순회하면서 행(tr)과 열(td) 두 개를 만든 뒤 테이블에 추가
    task_results.forEach(optionValue => {
    // 테이블 행 생성
    const tr = document.createElement('tr');
    
    // 첫 번째 열(td) : 체크박스
    const tdCheckbox = document.createElement('td');
    const checkbox = document.createElement('input');
    checkbox.type = 'checkbox';
    checkbox.value = optionValue['KEY'];
    tdCheckbox.appendChild(checkbox);

    // 두 번째 열(td) : 작업상세
    const tdText = document.createElement('td');
    tdText.textContent = optionValue['작업상세'];
    const tdText2 = document.createElement('td');
    tdText2.textContent = optionValue['작업진행률'];
    // 행에 두 개의 열을 차례로 붙임
    tr.appendChild(tdCheckbox);
    tr.appendChild(tdText);
    tr.appendChild(tdText2);

    // 완성된 행을 테이블에 추가
    table.appendChild(tr);


    const tdDetail = document.createElement('div');
    // 여기서부터는 공수 추가 부분
    tdDetail.style.display = 'none';
    tdDetail.classList.add('modal-body-custom');
    tdDetail.id = `workinfo_${optionValue['KEY']}`
    // 주어진 상세 HTML 코드(작업자 추가/공수 추가)를 그대로 집어넣습니다.
    // ★주의★ : ID가 중복되면 곤란하므로, 실제로는 index 등을 활용해
    //           각 행별로 고유 ID를 생성할 것을 권장합니다.
    tdDetail.innerHTML = `
        <div id = "title_${optionValue['KEY']}">${optionValue['작업상세']}<br>
        (현재 공수:${optionValue['총공수']}, 목표 공수:${optionValue['목표공수']})
        </div>
        <div class="row">
            <hr>
            
            <div class="col-5">
                <label for="workers_add1">근무자 추가</label>
                <input type="text" list="autocomplete-list_${optionValue['KEY']}" id="workers_add1_${optionValue['KEY']}" placeholder="이름입력" autocomplete="on">
                <datalist id="autocomplete-list_${optionValue['KEY']}"></datalist>
            </div>
            <div class="col-4" style="margin:auto;">
                <label for="workers_effort_${optionValue['KEY']}">공수 추가</label>
                <div style="display:flex;margin:auto;">
                    <i class="bi bi-dash-lg" onclick="onEffortClicked_workers(-0.1,'${optionValue['KEY']}')"></i>
                    <input type="number" id="workers_effort_${optionValue['KEY']}" min="1" placeholder="1" step="0.1" value="1">
                    <i class="bi bi-plus-lg" onclick="onEffortClicked_workers(0.1,'${optionValue['KEY']}' )"></i>
                </div>
            </div>
            <div class="col-3">
                <label for="add1_${optionValue['KEY']}"></label>     
                 <button id="add1_${optionValue['KEY']}" class="btn-dark-custom">&nbsp;&nbsp;추가&nbsp;&nbsp;</button>
            </div>
        </div>
        

        <!-- <div id="autocomplete-list_${optionValue['KEY']}"></div>  -->
        <br>
        <div class="row">
            <!-- <label for="workers-table_${optionValue['KEY']}">작업자 기여도</label>  -->
            <div id="workers-table_${optionValue['KEY']}"></div>
        </div>

        <div class="row">
            <div class="col-5 " style="float:right;">
                <label for="workers_progress_${optionValue['KEY']}">진행률(%)</label>
                <input type="number" id="workers_progress_${optionValue['KEY']}" placeholder="숫자만 입력(현재 : ${optionValue['작업진행률']})" >
            </div>
        </div>

        <button onclick="uploadImage('selfie_${optionValue['KEY']}')" class="btn btn-outline-secondary" style="height: 40px;width:160px;font-size:15px;">근무자 사진 업로드</button>
        <!-- 이미지 업로드 입력 -->
        <input type="file" id="fileInput-selfie_${optionValue['KEY']}" multiple accept="image/*" style="display: none;" onchange="displayMultipleImages(event,'selfie_${optionValue['KEY']}')">
        <!-- 캡처 이미지 미리보기 -->
        <video id="video-selfie_${optionValue['KEY']}" width="320" height="240" autoplay style="display:none;"></video>
        <canvas id="canvas-selfie_${optionValue['KEY']}" width="320" height="240" style="display:none;"></canvas>
        <button id="captureBtn-selfie_${optionValue['KEY']}" onclick="snap()" style="display:none;">Capture</button>
        
        <!-- 미리보기 -->
        <div id="preview-selfie_${optionValue['KEY']}">
          <!--   <img id="previewImage-selfie_${optionValue['KEY']}" style="display:none; max-width:100%; height:auto;" /> -->
        </div>

        <button onclick="uploadImage('workimage_${optionValue['KEY']}')" class="btn btn-outline-secondary" style="height: 40px;width:160px;font-size:15px;">작업장 사진 업로드</button>
        <!-- 이미지 업로드 입력 -->
        <input type="file" id="fileInput-workimage_${optionValue['KEY']}" multiple accept="image/*" style="display: none;" onchange="displayMultipleImages(event,'workimage_${optionValue['KEY']}')">
        <!-- 캡처 이미지 미리보기 -->
        <video id="video-workimage_${optionValue['KEY']}" width="320" height="240" autoplay style="display:none;"></video>
        <canvas id="canvas-workimage_${optionValue['KEY']}" width="320" height="240" style="display:none;"></canvas>
        <button id="captureBtn-workimage_${optionValue['KEY']}" onclick="snap()" style="display:none;">Capture</button>
        
        <!-- 미리보기 -->
        <div id="preview-workimage_${optionValue['KEY']}">
            <!-- <img id="previewImage-workimage_${optionValue['KEY']}" style="display:none; max-width:100%; height:auto;" /> -->
        </div>
        
     
        <br><br><br> <hr>
         
    `;

    infoContainter.appendChild(tdDetail);
    const autocompleteList = document.getElementById('autocomplete-list_'+optionValue['KEY']);
    autocompleteList.innerHTML = ''; // 기존 항목 제거
    insadb.forEach(worker => {
        const div = document.createElement('option');
        div.value = worker.성명;
        autocompleteList.appendChild(div);
    });
    // 숨길 div를 테이블 셀에 삽입
    // trDetail.appendChild(tdDetail);
        // 체크박스를 클릭할 때마다 숨겨진 행 토글
    checkbox.addEventListener('change', (e) => {
      if (checkbox.checked) {
        tdDetail.style.display = 'table-row';
      } else {
        tdDetail.style.display = 'none';
      }
    });
    });

    // 3) 최종적으로 selectContainer(혹은 원하는 컨테이너)에 테이블 삽입
    selectContainer.appendChild(table);
    // 처음엔 숨김 처리
    var keyArray = work_info_json.map(item => item.KEY);
    console.log(keyArray)
    
    keyArray.forEach(suffix => {
        console.log(suffix)
    const button = document.getElementById(`add1_${suffix}`);
    if (!button) {
        console.log("??")
      return; // 혹시 HTML에 해당 버튼이 없으면 무시
    }
    button.addEventListener("click", function() {
        const tableContainer = document.getElementById('workers-table_'+suffix);
        const name = document.getElementById(`workers_add1_${suffix}`).value.trim();
        const work = Number(document.getElementById(`workers_effort_${suffix}`).value);
        const selectedTask = work_info_json.filter(item=>item['KEY']===suffix)
   
        console.log("Suffix:", suffix, "Name:", name, "Work:", work, "Task:", suffix,'selectedTask',selectedTask);

        if (!name || isNaN(work) || work <= 0 ) {
            alert("이름과 공수, 작업을 올바르게 입력해주세요.");
            return;
        }
        // Check if the table exists, if not, create one
        let table = document.querySelector("#dynamicTable-"+suffix);
        if (!table) {
            table = createTable(suffix);
            tableContainer.appendChild(table);
        }
        
        // 선택된 정보를 테이블에 추가
        addRow(selectedTask, name, work,suffix);
        document.getElementById(`workers_add1_${suffix}`).value=""
        });

        

    });


    
    $('#siteOptions li').on('click', function() {
        $('#siteOptions li').removeClass('selected');
        $(this).addClass('selected');
        console.log(this)
    });

    $('#cat1Options li').on('click', function() {
        $('#cat1Options li').removeClass('selected');
        $(this).addClass('selected');
    });

    $('#cat2Options li').on('click', function() {
        $('#cat2Options li').removeClass('selected');
        $(this).addClass('selected');
    });

    $('#cat3Options li').on('click', function() {
        $('#cat3Options li').removeClass('selected');
        $(this).addClass('selected');
    });

    $('#cat4Options li').on('click', function() {
        $('#cat4Options li').removeClass('selected');
        $(this).addClass('selected');
    });

    $('#cat5Options li').on('click', function() {
        $('#cat5Options li').removeClass('selected');
        console.log($(this))
        $(this).addClass('selected');
    });

    $('#cat6Options li').on('click', function() {
        $('#cat6Options li').removeClass('selected');
        console.log($(this))
        $(this).addClass('selected');
    });


    $('#survey1-active').on('click', function() {
        $('#survey1-active').addClass('active');
        $('#survey2-active').removeClass('active');
        $('#survey1').attr('style','display:block;');
        $('#survey1-btn').attr('style','display:block;');
        $('#survey2').attr('style','display:none;');
        $('#survey2-btn').attr('style','display:none;');
    });

    $('#survey2-active').on('click', function() {
        $('#survey2-active').addClass('active');
        $('#survey1-active').removeClass('active');
        
        $('#survey2').attr('style','display:block;');
        // $('#survey2-btn').attr('style','display:block;');
        $('#survey1').attr('style','display:none;');
        $('#survey1-btn').attr('style','display:none;');
    });


    
    $('#survey1-btn').on('click', function() {
    event.preventDefault();
        var cat6 = document.getElementById('cat6').textContent;
        var cat5 = document.getElementById('cat5').textContent;
        var cat4 = document.getElementById('cat4').textContent;
        var cat3 = document.getElementById('cat3').textContent;
        var cat2 = document.getElementById('cat2').textContent;
        var cat1 = document.getElementById('cat1').textContent;
        var site = document.getElementById('site').textContent;
        const cat7 = document.getElementById('effort').value; 
        const cat8= document.getElementById('process').value; 
        console.log(site,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8)

        
        // var task_results = document.getElementById('task-result');

        // task_result.textContent += site+"_"+cat1+"_"+cat2+"_"+cat3+"_"+cat4+"_"+cat5+"_"+cat6+"_"+cat7+'_'+cat8+"%"+"\n"; 

        

        var eventId = 1 + Math.floor(Math.random() * 1000);
    
        var task_results = site+"_"+cat1+"_"+cat2+"_"+cat3+"_"+cat4+"_"+cat5+"_"+cat6+"_"+cat7+'_'+cat8+"%"
        // var task_results = document.getElementById('task-result').textContent.split("\n");

        const formData_db = {
                                taskresult : task_results,
                                date : getCurrentDateTime(datestr = document.getElementById('date-input').value),
                                username: document.getElementById("username").textContent
                            };

        // var formtext= `작업장 : ${document.getElementById("task-result").value.split("_")[0]} \n 작업인원 : ${ document.getElementById('numworkers').value} \n작업내용 : ${document.getElementById('task-result').value}\n특이사항 : ${document.getElementById('additional').value}\n`
        $.ajax({
            url: '/survey-plan',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(formData_db),
            success: function (response) {
                console.log(response)
                alert("데이터가 저장되었습니다.")
                document.getElementById('cat6').textContent = "";
                document.getElementById('cat5').textContent = "";
                document.getElementById('cat4').textContent = "";
                document.getElementById('cat3').textContent = "";
                document.getElementById('cat2').textContent = "";
                document.getElementById('cat1').textContent = "";
                // document.getElementById('site').textContent = ""
                document.getElementById('effort').value = ""; 
                document.getElementById('process').value = ""; 
                location.reload(true)
            
            },
            error: function(error) {
                alert('데이터 저장에 실패했습니다.', error);
            }
        });



    });

    
    // 1. 페이지 로드 시 인증을 위한 함수 호출
    function getCurrentDateTime(datestr) {
        const now = new Date(datestr);
        const year = now.getFullYear();
        const month = String(now.getMonth() + 1).padStart(2, '0');
        const day = String(now.getDate()).padStart(2, '0');
        const hours = String(now.getHours()).padStart(2, '0');
        const minutes = String(now.getMinutes()).padStart(2, '0');

        return `${year}-${month}-${day} ${hours}:${minutes}`;
    }

    document.getElementById('submit').addEventListener('click', function(event) {
        try{
            // createEvent()

            var visibleDivs = $("div[id^='workinfo_']:visible");

            // 결과 확인
            console.log(visibleDivs);
            var task_results=[];
            visibleDivs.each(function(){    
                const key = this.id.split("_")[1];
                // 1) 현재 브라우저의 URL 쿼리스트링(`?site=...&date=...`) 부분
                //    window.location.search -> "?site=%EB%A7%88%EA%B3%A1&date=2025-02-28"
                const searchParams = new URLSearchParams(window.location.search);

                // 2) site 파라미터 값을 get
                const place = searchParams.get("site"); 
                console.log(place)
                
                console.log(key)
                //dynamic table 받아오기   
                const dtable = document.querySelectorAll(`#dynamicTable-${key} tbody tr`);
                textOutput="";
                dtable.forEach(row => {
                    // 각 행의 첫 번째/두 번째 td 가져오기
                    const name = row.querySelector('td:nth-child(1)').textContent.trim();
                    const gongSu = row.querySelector('td:nth-child(2)').textContent.trim();
                    
                    // 원하는 형식으로 문자열을 이어붙임
                    textOutput += `이름: ${name}, 공수: ${gongSu}\n`;
                });
                // title 받아오기 
                const title = document.getElementById('title_'+key).innerHTML.split("<br>")[0];

                const progress = document.getElementById('workers_progress_'+key).value;
                console.log(dtable,title,progress)

                //작업 진행률 받아오기 
                var formtext = `작업장 : ${place} \n 작업내용 : ${title} \n 작업인원 \n ${textOutput}`
                console.log('formtext',formtext)
                var tabletext = ''  

                }); 
        
            // var eventId = 1 + Math.floor(Math.random() * 1000);
        
            // var task_results = document.getElementById('task-result').textContent.split("\n");

            // var formtext = ''
            // var tabletext = ''
            // task_results.forEach((item,index)=>{
            //     if (index === task_results.length - 1) {
            //         return;
            //     }
            //     const item_split = item.split("_")
            //     formtext += `작업장 : ${item.split("_")[0]} \n 목표공수 : ${item_split[item_split.length-2]} \n작업내용 : ${item}\n`
        
            // })  

            // var formtext= `작업장 : ${document.getElementById("task-result").value.split("_")[0]} \n 작업인원 : ${ document.getElementById('numworkers').value} \n작업내용 : ${document.getElementById('task-result').value}\n특이사항 : ${document.getElementById('additional').value}\n`

            // var id_init = {'김포':"AE",
            //                 '송도':'AB',
            //                 '마곡':'AA',
            //                 '당진':'AD',
            //                 '안양':'AC'}

            // var backcolor = {'김포':"#D25565",
            //                 '송도':'#D25565',
            //                 '마곡':'#ffa94d',
            //                 '당진':'#74c0fc',
            //                 '안양':'#c73814',
            //                 '기타1':'#63e6be',
            //                 '기타2':'#a9e34b',
            //                 '기타3':'#4d638c',
            //                 '기타4':'#495057'}
            // var eventData = {
            //     _id: Number(eventId),
            //     title: document.getElementById('site').textContent,
            //     start: getCurrentDateTime(datestr = document.getElementById('date-input').value),
            //     end: getCurrentDateTime(datestr = document.getElementById('date-input').value),
            //     description: formtext,
            //     type: document.getElementById('site').textContent,
            //     username: document.getElementById("username").textContent,
            //     backgroundColor: backcolor[document.getElementById('site').textContent],
            //     textColor: '#ffffff',
            //     allDay: true
            // };
    
            // //createExcel(formData);
            // $("#calendar").fullCalendar('renderEvent', eventData, true);
            // eventModal.find('input, textarea').val('');
            // editAllDay.prop('checked', true);
            // eventModal.modal('hide');
            console.log(eventData)
            //새로운 일정 저장
            $.ajax({
                type: "get",
                url: "/static/data/calendar.json",
                data: {
                    //.....
                },
                success: function (response) {
                    console.log(response)
                    var data = response; 

                    data.push(eventData);
                    console.log(data)
                    //DB연동시 중복이벤트 방지를 위한
                    //$('#calendar').fullCalendar('removeEvents');
                    //$('#calendar').fullCalendar('refetchEvents');
                    json_data = JSON.stringify(data)
                    console.log(json_data)
                    $.ajax({
                        url: '/calendar_save', // 데이터를 저장할 서버의 URL
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({data:json_data}),
                        success: function(response) {

                            const formData_db = {
                                    // workersinfo : tabletext,
                                    taskresult : document.getElementById("task-result").value,
                                    // additional: document.getElementById('additional').value,
                                    date : getCurrentDateTime(datestr = document.getElementById('date-input').value),
                                    username: document.getElementById("username").textContent
                                };

                            $.ajax({
                                url: '/survey',
                                method: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify(formData_db),
                                success: function (response) {
                                    console.log(response)
                                    alert("데이터가 저장되었습니다.")
                                    location.reload(true)
                                
                                },
                                error: function(error) {
                                    alert('데이터 저장에 실패했습니다.', error);
                                }
                            });
                        },
                        error: function(error) {
                            alert('Error saving data:', error);
                        }
                    });
                }
            });

        }catch (err) {
            alert("오류가 발생했습니다: " + err.message);
        }
        
    
    


    });

    // 오늘 날짜 구하기
    const today = new Date();
    const yyyy = today.getFullYear();
    const mm = String(today.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 1을 더합니다.
    const dd = String(today.getDate()).padStart(2, '0');

    const todayStr = `${yyyy}-${mm}-${dd}`;

    // 6개월 전 날짜 구하기
    const pastDate = new Date(today);
    pastDate.setMonth(today.getMonth() - 6);
    const pastYyyy = pastDate.getFullYear();
    const pastMm = String(pastDate.getMonth() + 1).padStart(2, '0');
    const pastDd = String(pastDate.getDate()).padStart(2, '0');

    const pastStr = `${pastYyyy}-${pastMm}-${pastDd}`;

    // 6개월 후 날짜 구하기
    const futureDate = new Date(today);
    futureDate.setMonth(today.getMonth() + 6);
    const futureYyyy = futureDate.getFullYear();
    const futureMm = String(futureDate.getMonth() + 1).padStart(2, '0');
    const futureDd = String(futureDate.getDate()).padStart(2, '0');

    const futureStr = `${futureYyyy}-${futureMm}-${futureDd}`;

    // input 요소에 값 설정
    const siteParam = getQueryParam('site');
    const dateParam = getQueryParam('date');
    console.log('dateParam',dateParam)
    const siteInput = document.getElementById('site');

    // site 값이 있으면 해당 값 적용, 없으면 null 취급(빈 값, 혹은 원하는 처리)
    if (siteParam) {
        siteInput.innerHTML = siteParam;
        selectOption('site', siteParam)
    } else {
        siteInput.innerHTML = ''; // 또는 null
    }

    const dateInput = document.getElementById('date-input');
    if (dateParam) {
        dateInput.value =`${dateParam.split(" ")[0]}` ;
      } else{
        dateInput.value = todayStr;
      }
   
    dateInput.min = pastStr;
    dateInput.max = futureStr;


    async function getAccessToken() {
    // URL에서 code와 state 파라미터를 추출
        const urlParams = new URLSearchParams(window.location.search);
        const code = urlParams.get('code');
        const state = urlParams.get('state');

        const response = await fetch('/callback', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: new URLSearchParams({
            code: code,
            grant_type: 'authorization_code',
            client_id: '8zESjIVD54_8K5PA_dIu',
            client_secret: 'wyWAH1uLEY'
        })
        });
        
        // // 토큰 정보 사용 예제
        // const accessToken = tokenInfo.access_token;
        alert('Access Token: ' + accessToken);
        const tokenInfo = await response.json();
        const accessToken = tokenInfo.access_token;
        console.log("fetch전")
        fetchFiles(accessToken);
    }

    function formatDateTime(date) {
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate()).padStart(2, '0');
        const hours = String(date.getHours()).padStart(2, '0');
        const minutes = String(date.getMinutes()).padStart(2, '0');
        const seconds = String(date.getSeconds()).padStart(2, '0');

        return `${year}-${month}-${day}T${hours}:${minutes}:${seconds}`;
    }


    async function createEvent() {
        const formData = {
            numworkers: document.getElementById('numworkers').value,
            workersnormal: document.getElementById('workers-normal').value,
            taskresult : document.getElementById("task-result").value,
            specialnotes: document.getElementById('specialnotes').value,
            overtime: document.getElementById('overtime').value
        };

        const start = new Date();
        start2 = formatDateTime(start)
        console.log(start)

        // const token = await getAccessToken();
    

        const event = {
            summary: "Testmessage",
            description: JSON.stringify(formData),
            
            recurrence:[],
            recurringEventId:"TZID=Asia/Seoul:2025-04-05"
        };
        console.log("?????")
        const response = await fetch('/create_event', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(event)
        });

        const result = await response.json();
        document.getElementById('result').innerText = result.message;
    };

    // 3. 파일 조회 함수
    async function fetchFiles(accessToken) {
        const response = await fetch('https://www.worksapis.com/v1.0/sharedrives', {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${accessToken}`
            }
        });
        const files = await response.json();
        console.log(files);
        // 파일 목록을 화면에 표시하는 함수 호출 (추가 작업 필요)
        displayFiles(files);
    }

    // 4. 파일 목록을 화면에 표시하는 함수 (예제)
    function displayFiles(files) {
        const fileList = document.createElement('ul');
        files.forEach(file => {
            const listItem = document.createElement('li');
            listItem.textContent = file.name; // 예시로 파일 이름을 표시
            fileList.appendChild(listItem);
        });
        document.body.appendChild(fileList);
    }
};

function getQueryParam(param) {
    // URLSearchParams 사용
    const params = new URLSearchParams(window.location.search);
    return params.get(param);
  }

</script>

{% endblock %}

{% block script %}

<!-- <script src="static/js/jquery.min.js"></script>

<script src="static/js/ko.js"></script>
<script src="static/js/select2.min.js"></script>

<script src="static/js/addEvent.js"></script>
<script src="static/js/editEvent.js"></script>
<script src="static/js/etcSetting.js"></script> -->



{% endblock %}
